/*
Name: Sunga, Kylle Raphael Y.
Block: WD 203
*/

/* GENERAL */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: left;
}

/* HEADER */
header {
    background-color: #1b263b;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px 30px 20px;
    border-top: 3px solid rgba(128,98,26,1.00); 
    font-size: 0.9em;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header nav a:hover {
    color: #1abc9c;
}

/* BODY */
h1.title {
    color: #34495e;
    margin: 20px 0 10px;
    text-align: center;
}

/* LIST */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    background-color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

/* FOOYTER */
footer {
    background-color: #1b263b;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-top: 3px solid rgba(128,98,26,1.00);
    font-size: 0.9em;
}

/* CSS GRID LAYOUT */
.parent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 1fr;
}

.div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.div2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 20px;
    background-color: white;
}

.div3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.div1 img,
.div3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div2 h1,
.div2 h2 {
    margin-top: 0;
}

.div2 ul {
    list-style-type: none;
    padding: 0;
}

.div2 li {
    margin: 5px 0;
    background-color: lightgrey;
    padding: 8px 12px;
    border-radius: 5px;
}

/* TABLES AND STUFFS */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #1abc9c;
    color: white;
}

h2 {
    margin-top: 30px;
    color: #34495e;
}
