/* Colors
Dark Blue Gray: 2c3e50
Teal: 1abc9c
*/

/* General Body Style */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    color: #333;
    text-align: left;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 10px 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Navigation */
header nav a {
    color: white;
    text-decoration: none;
    padding: 20px
}

/* Page Titles */
h1.title {
    color: #34495e;
    margin: 30px 0 10px;
}

h2 {
    color: #1abc9c;
    margin-top: 25px;
}

/* Lists */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    background-color: lightgray;
    padding: 8px 12px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    text-align: left;
    margin-top: 40px;
}
